header.header
    .container
        .menu
            .menu__logo
                h4.menu__logo_item 
                    a.menu__logo_link(href="/") Cozy House
                p Shelter for pets in Boston
            
            ul.menu__list
                li.menu__item
                    a.menu__link(href="#about") About the Shelter
                li.menu__item
                    a.menu__link(href="#our_pets") Our pets
                li.menu__item
                    a.menu__link(href="#help_shelter") To help the shelter
                li.menu__item
                    a.menu__link(href="#contacts") Contacts
            .btn
                span  
