@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

}



.container{
    margin: 0 auto;
    padding: 0 15px;
}


h2{
    font-family: 'Maven Pro', sans-serif;
}

/* header */

.header{
    background: #FFFFFF;
    width: 100%;
    border-bottom: 1px solid grey;
    position: fixed;
    padding: 10px;
    z-index: 1000;
}

.header__main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
}

.logo img{
    max-width: 100%
}

.header__info{
    text-align: center;
    position: absolute;
    background: white;
    left: -300%;
    top: 118%;
    right: 0;
    bottom: 0;
    min-height: 0;
    transition: all .7s ease-in-out;
}


.header__info__title button{
    width: 150px;
    height: 40px;
    border: 1px solid #4090DB;
    background: transparent;
    color: #4090DB;
}



.header__info_main span{
    font-family: 'Maven Pro', sans-serif;
    margin-right: 3px;
}


.header__picker{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    justify-content: space-between;
}

/* btn on mobile */

.show{
    left: 0%;
    min-height: 90vh;
}


.btn{
    display:block;
    position: relative;
    overflow:hidden;
    transition:all 0.5s ease;
    width: 40px;
    height: 40px;
}

.btn span{
    width: 30px;
    height: 2px;
    position:absolute;
    top: 55%;
    left: 100%;
    text-indent:-9999px;
    margin:-4px 0 0 -30px;
    opacity: 0.8;
    transition:all 0.5s ease-in-out;
}

.btn span:after, .btn span:before{
    width:100%;
    height:3px;
    background: black;
    position:absolute;
    content:'';
    left:0;
    right:0;
    top:6px;
    transition:all 0.5s ease-in-out;
}

.btn span:before{
    top:-6px;
}

.btn.active span{
    background:none;
    transform:rotate(136deg); 
}

.btn.active span:after{
    top: 2px;
        transform:rotate(-92deg);
}

.btn.active span:before{
    top:2px;
    transform:rotate(-182deg);
}


/* end btn on mobile */

/* end header */


/* main */

.main{
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
}

.cards__format{
  display: none;
}


.hideCard{
    display: none!important;
}

.cards__format button{
    border:0;
    margin: 5px 0;
    outline: #4090DB;
    cursor: pointer;
    border-radius: 5px;
    background: transparent;
    transition: .7s ease-in-out;
}

.cards__format button:focus{
    background: lightblue;
}


.card{
    position: relative;
    color: white;
    margin: 20px auto;
    max-width: 250px;
    max-height: 250px;
}

.card:before{
    content: "";
    position: absolute;
    background: url('/img/rectangle_card.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.card img:first-child{
    display: block;
    width: 100%;
}

.card__main{
    position: absolute;
    top: 45%;
    left: 0%;
    width: 100%;
    font-weight: 600;
}


.card__today div, .card__dates div{
    display: flex;
    align-items: center;
}

.card__main button{
    background: transparent;
    border: 0;
    outline: none;
}

.like, .comment{
    min-width: 17px!important;
    height: 17px;
}

.card__today, .card__dates, .card__upload__date{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card__dates{
    justify-content: center;
}
.card__today p, .card__dates p{
    margin: 15px 5px;
}

.card__upload__date{
    max-height: 30px;
}



.column{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    background: white;
}

.column img{
    max-width: 96px;
}


.column .card__main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.column .card__today, .column .card__dates, .column .card__upload__date{
    flex-direction: column;
    line-height: 10px;
    align-items: flex-start;
}


.column .card__upload__date{
    max-width: 105px;
    line-height: 40px;
}

.load__more{
    cursor: pointer;
    outline: none;
    background: transparent;
    display: block;
    margin: 30px auto 0;
    width: 125px;
    height: 29px;
    border: 1px solid grey;
    border-radius: 10px;
    transition: .8s ease-in-out;
}

.load__more:hover{
    background: lightblue;
    color: white;
}

/* end main */

@media screen and (min-width: 980px){
    .container{
        max-width: 700px;
    }
}

@media screen and (min-width: 1200px){

    h2{
        margin: 5px 0;
    }

    .container{
        max-width: 935px;
    }

    .header{
        padding-top: 15px;
        padding-bottom: 34px;
        border-bottom: 3px solid grey;
        position: relative;
    }

    .btn{
        display: none;
    }

    .logo{
        width: 150px;
    }
    .logo img{
        max-width: 100%;
    }

    .header__info{
        margin: 0 auto;
        background: transparent;
        position: relative;
        left: 0;
        top: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .header__info__title, .header__info_main, .header__picker {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 100%;
    }

    .header__info__title button{
        width: 149px;
        height: 31px;
        border: 1px solid blue;
        background: transparent;
    }

    .header__picker{
        flex-direction: row;
        min-height: 0px;
        min-width: 450px;
    }


    /* main */

    .main{
        padding-top: 20px;
        background: #FAFAFA;
    }


    .cards__format{
        display: flex;
        justify-content: flex-end;
    }

    .cards{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    .card{
        margin: 15px 0 0;
        width: 100%;
    }


}   
