*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Gotham Pro';
}

section{
    display: flex;
    flex-direction: column;
}

button{
    border: 0;
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: all .8s ease-in-out;
}

button:hover{
    transform:scale(1.2);
}

input[type="submit"]{
    width: 240px;
    padding: 17px 0;
    background-color: #ffe409;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
}

h2, h3,h4,h5,h5, a{
    letter-spacing: 3px;
    font-family: 'Gotham Pro-Bold';
    margin: 0;
    color: black;
}

a{
    text-decoration: none;
}

span{font-size:12px;}

h1{
    font-family: 'Gotham Pro-Bold';
    font-size: 35px;
    margin: 0 0 30px;
    line-height: 35px;
}

h3{
    letter-spacing: 3px;
    line-height: 17px;
}
p{
    margin: 13px 0;
    letter-spacing: 1px;
    line-height: 25px;
    color: #636363;
    font-weight: 300;
    font-family: "Gotham Pro";

}

img{
    max-width: 100%;
}



.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    margin: 0px auto;
    max-width: 1149px;
    text-align: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.header {
    position: fixed;
    width: 100%;
    padding: 79px 85px 0;
}
.header button{
    padding: 0;
    display: block;
    margin-left: auto;
    width: 27px;
    height: 17px;
}

.header button span{
    display: block;
    background: url('img/ham.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 4px;
    margin-bottom: 1px;
}
.header button span:nth-child(2){
    height: 5px;
    margin-top: 2px;
}


/* main */

/* hero-section */

.hero-section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Gotham Pro-Bold';
    border-bottom: 1px solid lightgray;
}



.first-stage{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 476px;
    flex-direction: row;
}

.first-stage .course-start{
    letter-spacing: 1px;
    color: black;
    width: 100%;
    max-width: 457px;
    background: #FFE409;
 
}


.first-stage .course-start .date{
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.5);
    border: 10px solid black;
    -moz-box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.5);
    width: 158px;
    padding: 45px 0 38px;
    font-size: 35px;
    text-align: center;
    margin-top: 25px;
}

.course-start p{ color:black; font-weight: bold;}

.info-course{
    width: 100%;
    max-width: 680px;
    padding: 0 15px;
    height: 100%;
    align-items: flex-start;
}
.info-course div{
    width: 45%;
    padding: 75px 0 20px;
}

 .info-course p:first-child{
    font-size: 14px;
    color: #AFAFAF;
    letter-spacing: 3px;
}


.add-info{
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 25px 45px;
    align-items: flex-start;
    justify-content: flex-end;
}

.add-info > div{
    display: inline-flex;
    height: 64px;
    margin-bottom: 65px;
    position: relative;
}

.add-info div div{
    padding-top: 13px;
    padding-left: 55px;
}

.second-stage{
    height: 318px;
    display: flex;
}

.shedule{
    width:100%;
    max-width: 457px;
    height: 100%;
}

.shedule div {
    width: 215px;
    padding-top: 60px;
}

.shedule-info{
    padding: 8px;
    background: #F6F6F6;
    width: calc(100% - 457px);
    height: 100%;
    flex-direction: row;
}


.shedule-info .shedule-time{
    width: 595px;
    margin-left: 110px;
    margin-right: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.shedule-first{
    border-radius: 3px;
    background: white;
    width: 225px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 25px;
    padding-bottom: 13px;
}

.shedule-first div{
    width: 97px;
    height: 42px;
    flex-wrap: wrap;
    font-size: 14px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.shedule-first div p{
    letter-spacing: 3px;
line-height: 17px;
font-weight: bold;
font-family: "Gotham Pro";
}

.shedule-first div p, .shedule-first h1 {
    margin: 0;
}

.shedule-second{
    width: 100%;
    max-width: 446px;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

.shedule-second div{
    margin-top: 8px;
    padding-left: 35px;
    padding-right: 23px;
    width: 100%;
    height: 150px;
    padding-top: 14px;
    max-width: 392px;
    border-radius: 3px;
    border:1px solid grey;
    background: white;
}

.shedule-second div p{
    letter-spacing: 0;
}

.shedule-info button{
    margin-top: 12px;
    width: 33px;
    height: 33px;
    padding: 7px;
    border: 2px solid red;
    border-radius: 50%;
    color: red;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
}

/* end hero-section */


/* Program section */

.program{
    background: #F8F8F8;
}

.ideas{
    padding-top: 30px;
}

.idea{
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    background: white;
    padding-right: 80px;
    margin-bottom: 40px;
}


.idea .image{
    background: #FFE409;
    /* max-width: 162px;
    width: 100%; */
    min-width: 162px;
    height: 160px;
}


.idea h3{
    text-transform: uppercase;
    line-height: 30px;
}

.idea-info{
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.idea-info div:nth-child(2){
    max-width: 382px;
    width: 100%;
    margin-left: 100px;
}
.idea-info .idea-text{
    margin: 0 100px;
    width: 100%;
    max-width: 430px;
}


.idea-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 32%;
}

.idea-button button{
    margin: 0 10px;
    width: 43px;
    height: 34px;
}

.idea-button button:focus, .idea-button button:active{
    background: #FFE409;
    transform: rotate(180deg);
}

.idea-button h3{
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 17px;
    color: #000000;
    font-weight: bold;
    font-family: "Gotham Pro";
}



.idea-list{
    margin-top: -40px;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 110px;
    text-align: left;
    background: white;
}

.idea-list ul{
    margin: 0px 160px;
    padding: 0;
}
.idea-list li{
    text-decoration-style: none;
    margin-bottom: 50px;
    display: block;
}

.table{
    padding-top: 180px;
    padding-bottom: 231px;
}
.table-content{
    padding-top: 155px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 100px;
    margin: 0 auto;
    max-width: 1360px;
    background: white;
}


table{
    width: 100%;
    border-spacing: 12px;
}

table thead th:last-child{
    text-transform: uppercase;
    letter-spacing: 3px;
}

table tr th:last-child{
    text-align: right;
    padding-right: 20px;
}

tr{
    height: 40px;
}

tr td:first-child{
    text-align: center;
    width: 250px;
}

tr td:last-child{
    text-align: right;
    padding-right: 20px;
}



tbody tr:nth-child(odd){
    background: #F3F3F3;
}

.orange{
    background: #FFE409!important;
}
/* end Program section */

/* format */
.format{
    padding-top: 295px;
    padding-bottom: 160px;
    border-bottom: 1px solid lightgray;
}


.content .content-main{
    min-height: 470px;
    max-width: 800px;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.content .content-main span{
    width: 8px;
    height: 8px;
    margin: 0 4px;
    border-radius: 50%;
    background: black;
    display: inline-block;
}

.content-main__offline, .content-main__online{
    position: relative;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    min-height: 240px;
    justify-content: space-between;
}

.content-main__offline:before{
    content: "";
    z-index: -1;
    position: absolute;
    left: -25%;
    top: 25%;
    width: 126px;
    height: 126px;
    border-radius: 63px;
    background-color: #ffe409;
}

.content-main__online:before{
    content: "";
    position: absolute;
    z-index: -1;
    right: -30%;
    top: -10%;
    width: 126px;
    height: 126px;
    border-radius: 63px;
    background-color: #ffe409;
}

/* end format */


/* reviews */
.reviews{
    border-bottom: 1px solid lightgray;
    padding-top: 220px;
    padding-bottom: 140px;
}

.reviews .content{
    margin: 0px auto;
    width: 100%;
    max-width: 1230px;
    text-align: center;
}

.slider{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.slider__image{
    width: 140px;
    height: 130px;
}

.slider__article{
    max-width: 730px;
    text-align: left;
}

.slider__article article{
    margin-bottom: 50px;
}

.slider__article p{
    margin: 0;
}

.slider__article h2{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.slider-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 140px;
}

.slider-nav div:first-child{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.slider-nav__buttons button{
    margin: 0 10px;
    width: 43px;
    height: 34px;
}


.slider-nav__buttons button:first-child{
    transform: rotate(90deg);
}

.slider-nav__buttons button:last-child{
    transform: rotate(270deg);
}

.slider-nav__buttons button:focus, .slider-nav__buttons button:hover{
    background: #FFE409;
    border-radius: 20px;
}


/* end reviews */


/* footer */

.footer{
    padding-top: 110px;
    position: relative;
    min-height: 800px;
}

.footer .content{
    max-width: 1625px;
    display: flex;
}


.footer__contacts {
    width: 100%;
    max-width: 860px;
}

.footer__contacts__article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.footer__contacts article h1{
    text-transform: uppercase;
}


.footer__contacts__links a h3{
    text-transform: uppercase;
    margin-left: 20px;
}

.footer__contacts__links{
    padding-top: 65px;
    padding-bottom: 110px;
    width: 100%;
    max-width: 280px;
}

.footer__contacts__links a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.footer__contacts__links a img{
    width: 25px;
    height: 25px;
}


#map {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 908px;
    height: 333px;
}

.footer__form{
    padding-top: 150px;
    width: 100%;
    max-width: 825px;
    position: relative;
}


.footer__form button{
    position: absolute;
    right: 0;
    top: 5%;
}
.footer__form button:before{
    content: "";
    position: absolute;
    top: 15px;
    left: 18px;
    width: 41px;
    height: 41px;
    border-radius: 21px;
    background-color: #ffe409;
    z-index: -1;
}

.footer__form form{
    width: 100%;
    max-width: 665px;
    padding-left: 115px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer__form input[type="text"], .footer__form input[type="email"], .footer__form input[type="tel"]{
    width: 100%;
    border: 0;
    border-bottom: 2px solid lightgray;
    font-family: "Gotham Pro";
    padding-bottom: 20px;
    margin-bottom: 35px;
    outline: none;
}

.footer__form input::placeholder, .footer__form input{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.form__format{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 25px;
}

.form__format div:first-child{
    width: 245px;
    text-align: left;
}


/* checkboxes */

.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    
  border-radius: 15px;
  }
  
  /* On mouseover */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked */
  .container input:checked ~ .checkmark {
    background-color: lightgray;
    border: 3px solid lightseagreen;
  }
  
  /* hidden when not checked */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark */
  .container input:checked ~ .checkmark:after {
    display: none;
  }
  
  /* Style the checkmark */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


/* end checkboxes */


/* end footer */

@media screen and (max-width: 1200px) and (min-width: 769px){
    .shedule-info{
        flex-direction: column;
        width: auto;
    }

    .content{
        max-width: 900px!important;
    }

    .idea-text{
        margin: 0!important;
    }
    #map{
       left: -330px;
    }
}

@media screen and (max-width: 768px){
    h2, h3,h4,h5,h5, a{
        letter-spacing: 1px;
        font-family: 'Gotham Pro-Bold';
        margin: 0;
        color: black;
        font-size: 14px;
    }
    
    
    h1{
        font-size: 20px;
        font-family: 'Gotham Pro-Bold';
        margin: 0 0 10px;
        line-height: 22px;
    }

    span{font-size:10px;}
    
    .header {
        padding: 20px
    }
    .hero-section{
        height: 1350px;
    }

    .first-stage{
        justify-content: center;
        flex-wrap: wrap;
    }

    .first-stage, .info-course, .add-info, .shedule{
        height: auto;
    }

    .second-stage{
        display: block;
    }

    .shedule-info{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column;
    }
    .shedule-time{
        width: 100%!important;
        margin: 0;
    }

    .shedule-first{
        margin: 0 20px;
        padding-top: 13px;
        align-items: center;
    }
    .shedule-second{
        flex-direction: column;
    }

    .idea{
        flex-direction: column;
        padding: 10px 15px
    }

    .idea-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .idea-info div:nth-child(2) {
       margin: 10px 0;
    }

    .idea-button{
        width: 100%;
        justify-content: center;
    }
    
    .idea-button h3{
        font-size: 10px;
    }


    .idea-list ul{
        margin: 0 15px;
    }

    .table-content{
        padding: 0;
    }

    tr td:first-child {
        width: auto;
    }
    
    table tr th:last-child {
        text-align: right;
        padding: 0;
        width: 200px;
    }
    
    .content{
        max-width: 85vw;
    }

    .content-main{
        flex-flow: column wrap!important;
    }

    .content-main div:nth-child(2){
        margin: 30px 0;
    }

    .reviews{
        padding: 100px 15px;
    }
    .slider{
        flex-direction: column;
    }
    .slider__article{
        padding-top: 25px;
    }

    .slider-nav{
        padding: 25px 0 0;
    }

    .footer .content{
        flex-direction: column;
    }
    
    .footer__contacts__links {
        padding-top: 25px;
    }

    .footer__contacts{
        order: 2;
        display: flex;
        flex-direction: column;
        min-height: 650px;
        padding: 0 50px;
    }

    .footer__form{
        order: 1;
        padding: 30px 15px;
        width: 94vw;
    }

    form{
        align-items:center;
        padding: 0 30px!important;
    }

}
