@media only screen and (min-width: 768px) {
  .nav{
    width: 40vw;
  }
  .nav a{
    padding-top: 20px;
    display: inline-block;
    padding-right: 35px;
    padding-left: 35px;
  }

  .icon, .phoneNumber{
    display: block;
  }
}

@media only screen and (min-width: 1200px) {

a{
  font-size: 22px;
}

  p, h1, h2, h3, h4, h5, h6{
    font-size: 22px;

}

h1{
    font-size: 30px;
}
h2{font-size: 25px;}

  .nav{
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    min-height: 0;
    width: auto;
    background: transparent;
    display: flex;
    flex-direction: row;
  }
  .nav a{
    padding: 0 15px;
  }
  .btn{
    display: none;
  }

.popup{
  display: block;
}


  /*main*/
    .container{
      max-width: 960px;
    }

    .hero_main{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
    .hero_block, .form_submit{
      text-align: center;
      margin: 10px 0 0;
    }
    .form_submit{
      width: 35%;
      display: block;
    }
    .form_submit h2{
      padding: 0px 20px;
      text-align: left;
    }

/* services */

.services{
  display: flex;
  align-items: center;
}

.our_services {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.portfolio_main{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}


.contact_us{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

}

@media only screen and (min-width: 1900px) {



  .container{
    max-width: 1440px;
  }
  
}