/*common*/

*{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section{
    min-height: 100vh;
}

.slick-dots{
    margin: 20px auto;
    padding: 0px;
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: center;
}

.slick-dots li{
    list-style: none;
    width: 20px;
    height: 20px;
    background: #EE9BA3;
    border-radius: 10px;
}

/*modal*/

.myModal{
    display: none;
    position: fixed;
    background: rgba(0,0,0,.2);
    z-index: 1000;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

.showModal{
    display: block;
}

.modal-body{
    opacity: 0.8;
    border-radius: 3px;
    text-align: center;
    width: 90vw;
    height: 45vh;
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translateX(-50%) translateY(-50%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10px;
}
#close{
    position: absolute;
    top:0;
    right: 0;
}


.modal-blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
     width: 90vw;
    height: 45vh;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 50;
    background: rgb(33, 32, 32, 0.95);
}


/*end modal*/

  /*body content*/

.wrapper{
    
    position: relative;
    overflow-x: hidden;
    display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    min-height: 100vh;
    height: 100%;
}



p, h1, h2, h3, h4, h5, h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #748194;
    transition: color .5s ease-in-out;
}

h1{
    font-size: 22px;
    font-weight: bold;
}
h2{
    font-size: 20px;
    font-weight: 600;
}

a{
    font-size: 18px;
    cursor: pointer;
    transition: color .5s ease-in-out;
    text-decoration: none;
    color: rgba(255,255,255,.87);
}

input[type="text"], input[type="tel"], input[type="email"]{
    border: 0;
    width: 90%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    border: none;
    background: #e4e5e6;
    color: #748194;
    padding: 6px 15px;
    height: 25px;
    margin-bottom: 20px;
}

input[type="submit"], button{
    cursor: pointer;
    background: #EE9BA3;
    font-weight: bold;
    margin: 15px 0;
    height: 30px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
   background: #EE9BA3;
   color: white;
   font-size: 16px;
   transition: all 1s ease-in-out;
}

input[type="submit"]:hover, button:hover{
    transform: scale(1.1);
    background: lightblue;
}

/*header*/

.header{
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,.2);
    z-index: 100;
    transition: all .7s ease-in-out;
}


.header_main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
    align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.sticky{
    background: rgba(0,0,0,.7);
}

    .header a{
        color:rgba(255,255,255,.87);
        text-decoration: none;
    }

    a img{
        width: 150px;
    }
    .header a:hover{
        color: rgb(179, 136, 136);
    }
    .nav{
        display: flex;
        flex-direction: column;
        background: #121635;
        min-height: 100vh;
        position: absolute;
        top: 100%;
        left: -100%;
        z-index: 999;
        width: 100vw;
        padding: 25px;
        transition: all 1s ease-in-out;
    }

    .phoneBlock{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px;
    }

    .phoneBlock_child{
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .icon{
        display: none;
        padding: 0 10px;
        background-repeat: no-repeat;
        transform: scale(1.2);
        transition: all .5s;
    }

    .icon img{
        width: 20px;
        height: 20px;
    }

    .phoneNumber{
        display: none;
        padding: 0px 10px;
        transition: all .7s ease-in-out;
    }


    .btn.active ~ .nav{
        left: 0%;
       
    }
    .nav a{
        padding-top: 20px;
        display: inline-block;
        
    }
   

/*nav btn*/
.btn{
    display:block;
    position: relative;
    overflow:hidden;
    transition:all 0.5s ease;
    width: 40px;
    height: 40px;
}

span{
    width: 30px;
    height: 2px;
    position:absolute;
    top: 55%;
    left: 100%;
    text-indent:-9999px;
    margin:-4px 0 0 -30px;
    opacity: 0.8;
    transition:all 0.5s ease-in-out;
}

span:after, span:before{
    width:100%;
    height:3px;
    background:rgba(255,255,255,.87);
    position:absolute;
    content:'';
    left:0;
    right:0;
    top:6px;
    transition:all 0.5s ease-in-out;
}

span:before{
    top:-6px;
}

.btn.active span{
    background:none;
    transform:rotate(136deg); 
}

.btn.active span:after{
    top: 2px;
        transform:rotate(-92deg);
}

.btn.active span:before{
    top:2px;
    transform:rotate(-182deg);
}

.navActive{
    left: 0;
    text-align: center;
}


.popup{
    display: none;
}

/*main*/
.container{
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
}

.hero_section{
    position: relative;
    min-height: 100vh;
    background-position: 50% 60%;
    z-index: 10;
    display: flex;
    align-items: center;
  }

  .hero_main{
      padding-top: 50px;
  }
/* .hero_section:before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.40), rgba(0,0,0,0.40));
} */

/* hero section */

.hero_block, .form_submit{
    text-align: center;
    width: 100%;
    margin: 10px 0 0;
}

.form_submit{
    display: none;
}


form{
    color:#748194;
    padding: 30px 15px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.agg{
    text-align: center;
    color: grey;
    padding: 10px;
}
.toggleColor {
    color: red!important;
}



/* services */

.our_services{
    padding-top: 20px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.service{
    cursor: pointer;
    min-width: 24%;
    min-height: 60vh;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    position: relative;
    margin-bottom: 15px;
    background-attachment: fixed!important;
    transition: all .7s ease-in-out;
}
.service:hover{
    transform: scale(1.05);
}

.service_about{
    /* background: 
    linear-gradient(to bottom, transparent, black) 
      no-repeat bottom;
    background-size: 100%; */
    padding-top: 10px;
    background: #121635;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

/* portfolio */

.portfolio{
    display: flex;
    align-items: center;
}



.big{
    background: black;
    min-width: 50%;
}

.small{
    min-width: 24%;
    background: red;
}

.big, .small{
    cursor: pointer;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    margin-bottom: 25px;
    border-radius: 10px;
    min-height: 200px;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    transition: all .7s ease-in-out
}

.big:hover, .small:hover{
    transform: scale(1.05);
    border: 1px dotted lightpink;
    transition: all .7s ease-in-out;
}

.contacts{
    padding-top: 50px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, transparent, lightblue);
}
.call_us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 170px;
}

.contacts_main{
    text-align: center;
}
/*footer*/

.footer{
    background-color: rgba(0,0,0,.7);
    text-align: center;
    padding-top: 15px;
}