*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: cornflowerblue;
}

.icons div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.404);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    opacity: 0;
    cursor: pointer;
}

.icons div + div{
    margin-left: 1rem;
    transition: all .7s ease-in-out;
}
.icons div a{
    color: #000;
    font-size: 18px;
}

.icons div:hover{
    background: rgb(216, 108, 130);
    color: white;
}

@keyframes toTopBottom{
    from{
        transform: translateY(-65px);
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}