section#about.about
    .container
        .about__main
            .about__main_petsPhoto
                img(src="../../assets/images/all/pets.png", alt="about the shelter")
            .about__main_shelterInfo
                h2 About the shelter
                    span 
                    q Cozy House
                p Lorem ipsum, dolor sit amet. Rerum fugiat alias repellendus veritatis, nam aliquam recusandae asperiores magnam ut eius laudantium animi explicabo ab!
                p Lorem ipsum, dolor sit amet elit. Corrupti, minima accusantium, repudiandae, incidunt dolorem perspiciatis est? Quidem corporis assumenda ullam praesentium quae beatae minima laborum quis unde qui veniam, dolorem quam expedita alias autem est magni omnis labore? Quas labore nesciunt distinctio earum voluptate eligendi?

