section.donation
    .container
        .donation__main
             .donation__main_photo
                img(src="../../assets/images/all/donation.png", alt="about the shelter")
             .donation__main_info
                h2 In addition, you
                    span  can make a donation
                .donation__main_info_card
                    p  Name of the bank / Type of bank account 
                    button
                        img(src="../../assets/images/all/card.png", alt="about the shelter")
                        span 8380 2880 2028 8791 7435
                    p.legalInfo Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus et maiores amet nihil hic adipisci illo architecto cupiditate veritatis inventore, aperiam repellat magni ipsum enim.