section#help_shelter.help
    .container
        .help__main
            .pets__main_title
                h2 Than you can help
                    span  our shelter
            .pets__services
                +thumbnail('cat-food', 'Pet food')
                +thumbnail('ambulance', 'Transportation')
                +thumbnail('ball', 'Toys')
                +thumbnail('bowl', 'Bowl and cups')
                +thumbnail('shampoo', 'Shampoo')
                +thumbnail('pills', 'Vitamins')
                +thumbnail('syringe', 'Medicine')
                +thumbnail('leash', 'Collars / leashes')
                +thumbnail('cat', 'Sleeping area')
            
                
                           