section.hero__section(style='background-image: url("../../assets/images/all/hero_section.jpg");')
    .container
        .hero__section__main
            h1 Not only people need a house
            p.grey Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, dolores totam! Quas dolore autem sed magni dolor officia vitae! Repellendus mollitia.
            button Make a friend