section#our_pets.pets
    .container
        .pets__main
            .pets__main_title
                h2 Our friends who
                    span  are looking for a house
            .pets__main_slider
                .pet
                    .pet_main
                        img(src='../../assets/images/all/katrine.png', alt='katrine')
                        h5 Katrine
                        button Learn More
                .pet
                    .pet_main
                        img(src='../../assets/images/all/jennifer.png', alt='jennifer')
                        h5 Jennifer
                        button Learn More
                .pet
                    .pet_main
                        img(src='../../assets/images/all/woody.png', alt='woody')
                        h5 Woody
                        button Learn More
                .pet
                    .pet_main
                        img(src='../../assets/images/all/katrine.png', alt='katrine')
                        h5 Katrine
                        button Learn More
                .pet
                    .pet_main
                        img(src='../../assets/images/all/jennifer.png', alt='jennifer')
                        h5 Jennifer
                        button Learn More
                .pet
                    .pet_main
                        img(src='../../assets/images/all/woody.png', alt='woody')
                        h5 Woody
                        button Learn More
            button.get_toKnow Get to know the rest