@media only screen and (min-width: 768px) {
  .nav{
    width: 40vw;
  }
  .nav a{
    padding-top: 20px;
    display: inline-block;
    padding-right: 35px;
    padding-left: 35px;
  }
  .center_block h1{
    font-size: 23px;
    letter-spacing: 1px;
  }
  .center_block p{
    font-size: 19px;
  }
  .center_block .getConsult{
    font-size: 17px;
  }

/*exp*/

.years h3, .numbers h3 {
  padding: 0;
  text-align: center;
  color: #fff;
  filter: brightness(100%);
  font-size: 60px;
  font-weight: 600;
}

.years p, .numbers p{
  padding: 0;
  text-align: center;
  color: #fff;
  margin: 0 20px;
  filter: brightness(100%);
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/*exp*/
.adv_title{
  max-width: 500px;
  margin: 0px auto;
}
.adv_title p{
  font-size: 22px;
}

.adv_list div{
  margin: 25px 0;
}

.adv_list div ul {
  padding: 0px 5px;
  line-height: 30px;
}

.adv_list{
  text-align: center;
}
.adv_list:after{
  content: "";
  display: block;
  clear: both;
}

.adv_list div{
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    max-width: 290px;
}

/*hero_background*/

.hero_background{
  min-height: 700px;
}

/*form*/
.submit{
  width: 35%;
}

}

@media only screen and (min-width: 1200px) {

  a{
    font-size: 23px;
  }
  .header{
    padding: 25px;
    position: fixed;
    width: 100vw;
  }
  .nav{
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    min-height: 0;
    width: auto;
    background: transparent;
  }
  .nav a{
    padding: 0 15px;
  }
  .btn{
    display: none;
  }

  /*main*/
    .container{
      max-width: 960px;
    }

  .hero_section{
    min-height: 100vh;
  }

  .center_block h1{
    font-size: 40px;
    font-weight: bold;
  }
  .center_block p{
    font-size: 33px;
    margin: 0 0 25px;
  }
  .center_block .getConsult{
    font-size: 33px;
  }

  /*services*/
  .showList i{
    width: 30px;
    height: 30px;
    padding: 2px 8px;
  }

  /*exp*/

  .exp_cover{
    display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  }
  .years, .numbers{
    margin: 0 60px;
  }


  /*adv*/
  .adv_title {
    max-width: 800px;
    margin: 0px auto;
  }

  .adv_list div img{
    width: 150px;
  }

  /*form*/

  .submit_form {
    padding: 25px 110px;
  }
  .submit{
    font-size: 23px;
  }
  @-moz-document url-prefix() {
    .showList i{
        padding: 1px 9px;
        width: 30px;
        height: 30px;
    }
}      
}

@media only screen and (min-width: 1900px) {
  a, p, h1, h2, h3, h4, h5, h6{
    font-size: 35px;
  }
  .container{
    max-width: 1200px;
  }

  /*services*/

  .showList i{
    width: 45px;
    height: 45px;
    padding: 2px 10px;
  }

  .services{
    padding-top: 100px;
  }

  .services_title ol li, .item ol li{
    padding-left: 15px;
    font-size: 20px;
    line-height: 30px;
  }
  /*exp*/

  .years p, .numbers p{
    font-size: 23px;
  }

  /*adv*/

  .adv_title h2{
    font-size: 45px;
  }

  .adv_title p{
    font-size: 35px;
    line-height: 45px;
  }

  .adv_list div{
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    max-width: 360px;
}


.adv_list div h4{
  color: black;
}

.adv_list div p{
  color: #56453b;
  line-height: 45px;
  padding: 0;
}

/*form*/
.submit_form {
  padding: 25px 165px;
}

/*footer*/
.footer i{
  font-size: 25px;
}

}

@media only screen and (min-width: 2500px) {

  .header{
    padding: 35px
  }

  .experience{
    background-repeat: repeat-x!important;
  }
}

