/* src/assets/styles/base/_fonts.scss  */


@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


$arial: "Arial", sans-serif;
$times: "Times New Roman", sans-serif;
$georgia: 'PT Serif', serif;

