@media only screen and (min-width: 768px) {


  .logo a img{
    width: 50px;
  }



  .header .menu{
    display: flex;
    justify-content: space-between;
  }


  .menuText{
    display: block;
    opacity: 1;
    transition: all .5s ease-in-out;
}

.sendBlank{
  padding-right: 15px;
}
.sendBlank a:first-child{
  display: block;
  padding-right: 10px;
}


.sendBlank{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

  .center_block h1{
    font-size: 23px;
    letter-spacing: 1px;
  }
  .center_block p{
    font-size: 19px;
  }
  .center_block .getConsult{
    font-size: 17px;
  }

  .partnership_items{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .partnership_items_bonus{
    margin-top: -14px;
  }

  .item{
    margin-right: 7px;
    padding-bottom: 20px;
    float: left;
    transition: all .5s ease-in-out;
  }
  
  .item:hover{
    cursor: pointer;
    margin-top: -15px;
    background: rgb(23, 52, 53);
  }

  .bonus:hover{
    margin-top: 10px;
  }

.partnership_items:after{
  content: '';
  clear: both;
  display: block;
}

.realize_dreams{
  padding-bottom: 50px;
}

.realize_dreams .slider{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dreams{
  display: flex!important;
  align-items: center;
  justify-content: space-between;
}

/* .dream .dream_desc{
  position: absolute;
  top: 100%;
  transition: all 1s ease-in-out;
}

.dream:hover .dream_desc{
  position: absolute;
  top: 50%;
} */

/*services*/

.slick-prev{
  display: block!important;
  position: absolute;
  left: -10%;
  border: 0;
  background: transparent;
  outline: none;
  color: #bd9f57;
  opacity: 0.7;
}

.slick-next{
  display: block!important;
  position: absolute;
  right: -10%;
  border: 0;
  outline: none;
  opacity: 0.7;
  color: #bd9f57;
  background: transparent;
}

.rotateNextArrow{
  transform: rotate(180deg);
}

.slick-prev:hover{
  background: transparent;
  color: #bd9f57;
}
.slick-next:hover{
  background: transparent;
  color: #bd9f57;
}
.calc{
  padding-bottom: 150px;
}

/*form*/
.submit{
  width: 35%;
}
.footer_nav{
  width: 100%;
  float: left;
  flex-flow: column wrap
}
.footer_nav .contact_nums{
   justify-content: center;
}

.footer .form h2{
  padding: 0px 20px;
}
}

@media only screen and (min-width: 1200px) {


  .fa{
    font-size: 24px!important;
  }

  a, p, h3, h4, h5, h6, label{
    font-size: 15px;
  }
  h1, h2{
    font-size: 24px;
    font-weight: 500;
  }

  h2,h3,h4,h5,h6{
    margin-bottom: 23px;
  }


  .sendBlankForm{
    width: 30vw;
  }


  /*main*/
    .container{
      max-width: 960px;
    }

  .hero_section{
    min-height: 100vh;
  }

  .center_block h1{
    font-size: 27px;
    font-weight: bold;
  }

  .center_block .getConsult{
    font-size: 33px;
  }


/* partnership */





.item .showText{
  height: 90px;
  overflow: hidden;
}

/* .show{
  height: 285px!important;
} */

/* .arrows{
  position: absolute; 
  top: 24%;
  left: 0%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
} */


  .item{
    width: 26%;
  }
 
  .partnership_items_bonus{
    width: 100%;
    min-height: 235px;
    display: flex;
    justify-content: center;
  }
  .bonus{
    width: 79.3%;
  }

  /*adv*/

  .advantages{
    padding-bottom: 25px;
  }


.adv{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 15px;
}



.adv div{
  width: 50%;
}

.adv_image{
  height: 200px;
}

.dream{
  max-height: 255px!important;
  padding-top: 50px;
}

.dream_desc p{
  padding: 20px!important;
}

  /*services*/
  .showList i{
    width: 30px;
    height: 30px;
    padding: 2px 8px;
  }



  /*footer*/

.footer:after{
  content: "";
  display: block;
  clear: both;
}

.footer .form{
  width: 50%;
  float: right;
  border-left: 1px solid rgb(179, 171, 171);
  padding-left: 25px;
}
.footer .submit_form{
  border: 0;
}

.footer_nav{
  width: 48%;
  float: left;

  flex-flow: column wrap;
}

/* .footer_nav .contact_nums{
  width: 100%;
  flex-flow: row;
  align-items: center;
  justify-content: center;

} */
.footer_nav .how_contact{
 
  padding-top: 25px;
}

.footer_nav img{
  width: 25px;
}

}

@media only screen and (min-width: 1900px) {

  .fa{
    font-size: 30px!important;
  }

  a, p, h3, h4, h5, h6, label{
    font-size: 20px;
  }
  h1, h2{
    font-size: 27px;
    font-weight: 600;
  }
  .container{
    max-width: 1200px;
  }

  .header{
    padding: 26px 30px;
  }
  .changeBackground{
    padding: 10px 30px!important;
  }
  
  .sendBlank a:first-child{
    padding-right: 20px;
  }
  
/* partnership */



/* advantages */



.adv{
  margin-bottom: 20px;
}

.adv_image{
  height: 300px;
}
  /*services*/

  .showList i{
    width: 45px;
    height: 45px;
    padding: 2px 10px;
  }

  .services{
    padding-top: 100px;
  }

  .services_title ol li, .faq ol li{
    padding-left: 15px;
    font-size: 20px;
    line-height: 30px;
  }
 
input{
  font-size: 21px;
}

/*footer*/


}

@media only screen and (min-width: 2500px) {

  .header{
    padding: 35px
  }
  .sendBlank{
    padding-right: 40px;
  }
  .experience{
    background-repeat: repeat-x!important;
  }
}

