@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');
body, html{
    width: 100%;
    height: 100%;
    font-family:  'Poppins', sans-serif;
    color: #222;
}

.navbar-brand img{
    width: 100px;
}
.navbar-nav li{
    padding-right: 17px;
}

.nav-link{
    font-size: 20px;
}
/*nav*/
.carousel-indicators li{
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.carousel-indicators li:hover{
    background: lightblue;
}

.carousel-inner{
    height: 450px;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}

.carousel-item{
    height: 500px;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
    text-shadow: 1px 1px 1px 10px #222;
}
.carousel-caption button{
 margin-bottom: 10px;
}
/*carousel*/

#fixed{
    height: 400px;
    border-top: 4px solid lightgrey;
    border-bottom: 4px solid lightgrey;
    background: url("img/fixed.jpeg") no-repeat center center fixed;
    background-blend-mode: multiply;
    background-color: lightblue;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

#gifsBtn{
    margin-bottom: 20px;
}

#gifs img{
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 20px;
}
footer{
    padding-top: 50px;
    padding-bottom: 20px;
    border-top: 2px solid silver;
    color: silver;
}
.social a{
    text-decoration: none;
    color: grey;
}

@media (min-width: 768px) {
    .carousel-inner{
        height: 500px;
    }
    .carousel-inner img{
        /*transform: translateY(-30%);*/
    }
    .carousel-caption{
        transform: translateY(-50%);

    }
    .carousel-caption button{
        margin-right: 10px;
    }

    .jumbotron{
        padding: 15px;
        border-radius: 0;
        width: 70%;
        margin: 20px auto;
    }
    .padding{
        padding-bottom: 20px;
    }
    
    .alert{
        width: 75%;
        margin: 0px auto;
        padding-top: 20px;
    }
    .alert hr{
        border-top: 1px solid silver;
        width: 95%;
        margin-top: 5px;
        margin-bottom: 10px;
    }
 }
