/* src/assets/styles/utils/_colors.scss  */

$orange-gold: #f1cdb3;
$grey: #cdcdcd;
$grey-dark: #292929;
$white: #ffffff;
$title: #545454;
$grey-hover: #ffffff;
$text: $grey-hover;
$text-bg-white: #4c4c4c;



$bg-pink:#fddcc4;
$bg-grey:#f6f6f6;


.grey{
    color: $grey;
}