//- src/views/components/footer.pug
footer#contacts.footer(style='background-image: url("../../assets/images/all/footer.jpg");')
  .container
    .footer__main
      .footer__main_contacts
        h2 For questions 
          span and suggestion
        .footer__main_item
          img(src="../../assets/images/all/envelope.png", alt="")
          a(href="mailto:email@shelter.com") email@shelter.com
        .footer__main_item
          img(src="../../assets/images/all/telephone.png", alt="")
          a(href="tel:+136745677554") +13 674 567 75 54
      .footer__main_location
        h2 We are waiting
          span  for your visit
        .footer__main_item
          img(src="../../assets/images/all/location.png", alt="location")
          a(href="/") Boston, Central Street, 1s
            span  (Entrance from the store)
        .footer__main_item
          img(src="../../assets/images/all/location.png", alt="location")
          a(href="/") London South Park, 18st